/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/

.align-self-center {
    display: flex;
    justify-content: center;
    border: none;
}